<mat-dialog-content>
    <div class="title">
    <h1>Register to Library-On</h1>
    </div>
    <img src="../../../assets/logo.png">
    <form [formGroup] = "registrationForm" (ngSubmit)="registerUser()">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" matInput formControlName="username">
            <div class="errors" *ngIf="username.errors != null &&  username.errors['unique'] == false" style="color: red; font-style: italic; font-size: small;">Username already in use</div>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="First Name" matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Last Name" matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input matInput type="email" placeholder="Email Address" matInput formControlName="emailAddress">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" matInput formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field> 
        <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" matInput formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="buttons">
            <button type="submit" mat-raised-button color="primary">Register</button> 
            <button mat-dialog-close mat-raised-button color="accent" style="margin-left:10px;">Cancel</button>
        </div>
    </form>
</mat-dialog-content>

