<div class="tablewrapper">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Moby Dick" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort style="height: 900px;">
      
          <!-- AuthorId Column -->
          <ng-container matColumnDef="authorId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{row.authorId}}</td>
          </ng-container>
          
          <!-- firstName Column -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
            <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
          </ng-container>
    
        <!-- lastName Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
                </ng-container>     
        
        <!-- Action Column -->
        <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-button (click)="openRequestDialog(row)" matTooltip="Request a book" matTooltipPosition="right"><mat-icon color="primary">edit</mat-icon></button>
                    <button mat-button (click)="openRequestDialog(row)" matTooltip="Request a book" matTooltipPosition="right"><mat-icon color="primary">delete</mat-icon></button>
                </td>
        </ng-container>      
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSize]=10></mat-paginator>
      </div>

      <mat-card class="formwrapper">
        <mat-card-title>
            Add new author
        </mat-card-title>
        <form #bookcreateForm="ngForm" class="createform" novalidate (ngSubmit)="onSubmit()">
            <mat-form-field class="form-item" required>
            <mat-label>Title</mat-label>
            <input type="text" placeholder="Title" matInput name="title">
            </mat-form-field>
            <mat-form-field class="form-item" required>
                <mat-label>First Name</mat-label>
                <input type="text" placeholder="Title" matInput name="First Name">
            </mat-form-field>
            <mat-form-field class="form-item" required>
                <mat-label>Last Name</mat-label>
                <input type="text" placeholder="Title" matInput name="Last Name">
            </mat-form-field>


            <button type="submit" class="buttons" mat-raised-button color="primary">Save</button>   

        </form>
    </mat-card>


    </div>